/*Universal Selector*/
* { color: deeppink; text-align: justify; font-size: medium; }

/*Element Selector*/
h2, h4 { color: orange; background-color: lightblue; 
     font-family: 'Times New Roman', Times, serif; }
p { color: crimson; background-color: aliceblue; text-align: justify; }
p strong { color: darkmagenta; font-weight: bolder; }
p > strong { color: blue; font-weight: bolder; }
p + div { background-color: azure; border: 2px solid red; }

/*Class selector*/
.classKuning { color: yellow; font-weight: bold; 
               text-align: center; background-color: black; }
p.classKuning { color: yellow; font-weight: bold; font-family: Courier New, Courier, monospace; 
               text-align: center; background-color: black; }

/*ID Selector*/
#header { color: black; border: 2px solid blue; }


/*Contoh Box Model*/
div { color: black; background-color: azure; border: 3px dotted blue;
      padding: 15px 20px 15px 20px; margin: 15px 20px 15px 20px; }

div.relative {
    position: relative;
    width: 50%;
    left: 30px;
    top: 10px;
    border: 3px solid #73AD21;
}

div.absolute {
    position: absolute;
    top: 50px;
    left: 0;
    width: 200px;
    height: 500px;
    border: 3px solid #73AD21;
    z-index: 1;
}

div.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 900px;
    height: 10px;
    border: 3px solid #73AD21;
    z-index: 10;
} -

div.content {
    position: absolute;
    top: 50px;
    left: 250px;
    width: 650px;
    height: 500px;
    border: 3px solid crimson;
    z-index: 1;
}
